In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Caravelas,BR,2022-07-09 00:38:36,-17.7125,-39.2481,69.80,89,0,3.67
1,1,Ponta Do Sol,PT,2022-07-09 00:38:36,32.6667,-17.1000,69.12,60,4,2.13
2,2,Yellowknife,CA,2022-07-09 00:37:52,62.4560,-114.3525,79.32,36,75,16.11
3,3,Puerto Ayora,EC,2022-07-09 00:38:36,-0.7393,-90.3518,71.55,90,29,5.01
4,4,Avarua,CK,2022-07-09 00:38:37,-21.2078,-159.7750,77.05,57,40,14.97

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature

# 1. Assign the locations to an array of latitude and longitude pairs. Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values. Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute. Assign the figure variable.
fig = gmaps.figure(center =(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like fory our trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like fory our trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Yellowknife,CA,2022-07-09 00:37:52,62.4560,-114.3525,79.32,36,75,16.11
4,4,Avarua,CK,2022-07-09 00:38:37,-21.2078,-159.7750,77.05,57,40,14.97
8,8,Hithadhoo,MV,2022-07-09 00:38:38,-0.6000,73.0833,80.46,80,100,5.10
18,18,Kapaa,US,2022-07-09 00:38:40,22.0752,-159.3190,85.98,68,40,14.97
19,19,Tigil,RU,2022-07-09 00:38:40,57.8000,158.6667,75.61,64,89,18.79
20,20,Bethel,US,2022-07-09 00:35:31,41.3712,-73.4140,77.59,80,100,2.46
27,27,Hilo,US,2022-07-09 00:38:11,19.7297,-155.0900,88.29,72,100,12.66
28,28,Atuona,PF,2022-07-09 00:38:42,-9.8000,-139.0333,78.19,77,14,15.97
29,29,Shache,CN,2022-07-09 00:38:42,38.4167,77.2406,77.72,34,73,10.45
33,33,Albany,US,2022-07-09 00:35:52,42.6001,-73.9662,77.41,65,100,6.62

In [14]:
preferred_cities_df.count()

City_ID       213
City          213
Country       213
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2   Yellowknife      CA     79.32  62.4560 -114.3525
4        Avarua      CK     77.05 -21.2078 -159.7750
8     Hithadhoo      MV     80.46  -0.6000   73.0833
18        Kapaa      US     85.98  22.0752 -159.3190
19        Tigil      RU     75.61  57.8000  158.6667
20       Bethel      US     77.59  41.3712  -73.4140
27         Hilo      US     88.29  19.7297 -155.0900
28       Atuona      PF     78.19  -9.8000 -139.0333
29       Shache      CN     77.72  38.4167   77.2406
33       Albany      US     77.41  42.6001  -73.9662

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
     # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Yellowknife,CA,79.32,62.4560,-114.3525,The Explorer Hotel
4,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
8,Hithadhoo,MV,80.46,-0.6000,73.0833,Scoop Guest House
18,Kapaa,US,85.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
19,Tigil,RU,75.61,57.8000,158.6667,Tigil'
20,Bethel,US,77.59,41.3712,-73.4140,Courtyard by Marriott Danbury
27,Hilo,US,88.29,19.7297,-155.0900,Hilo Hawaiian Hotel
28,Atuona,PF,78.19,-9.8000,-139.0333,Villa Enata
29,Shache,CN,77.72,38.4167,77.2406,Delong Hotel
33,Albany,US,77.41,42.6001,-73.9662,

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))