## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_Database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Victoria,HK,22.2855,114.1577,87.33,83,10,13.00,clear sky
1,1,Podgornoye,RU,51.7350,39.1496,84.42,32,0,6.71,clear sky
2,2,Kaeng Khoi,TH,14.5862,100.9976,82.98,89,100,6.44,heavy intensity rain
3,3,Karasuk,RU,53.7377,78.0403,71.55,60,84,9.51,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,74.70,78,100,14.20,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like fory our trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like fory our trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Victoria,HK,22.2855,114.1577,87.33,83,10,13.00,clear sky
1,1,Podgornoye,RU,51.7350,39.1496,84.42,32,0,6.71,clear sky
2,2,Kaeng Khoi,TH,14.5862,100.9976,82.98,89,100,6.44,heavy intensity rain
7,7,Kure,JP,34.2333,132.5667,80.53,90,99,1.63,overcast clouds
9,9,Daoukro,CI,7.0591,-3.9631,75.02,97,100,5.46,moderate rain
19,19,Kapaa,US,22.0752,-159.3190,76.98,92,75,14.97,broken clouds
24,24,San Patricio,US,28.0170,-97.5169,89.49,58,10,7.05,clear sky
31,31,Butaritari,KI,3.0707,172.7902,80.98,80,26,14.25,light rain
33,33,Salalah,OM,17.0151,54.0924,77.09,100,100,10.36,light intensity drizzle
34,34,Hilo,US,19.7297,-155.0900,81.28,89,75,10.36,broken clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                266
City                   266
Country                265
Lat                    266
Lng                    266
Max Temp               266
Humidity               266
Cloudiness             266
Wind Speed             266
Current Description    266
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis="index", how="any")
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Victoria,HK,22.2855,114.1577,87.33,83,10,13.00,clear sky
1,1,Podgornoye,RU,51.7350,39.1496,84.42,32,0,6.71,clear sky
2,2,Kaeng Khoi,TH,14.5862,100.9976,82.98,89,100,6.44,heavy intensity rain
7,7,Kure,JP,34.2333,132.5667,80.53,90,99,1.63,overcast clouds
9,9,Daoukro,CI,7.0591,-3.9631,75.02,97,100,5.46,moderate rain
19,19,Kapaa,US,22.0752,-159.3190,76.98,92,75,14.97,broken clouds
24,24,San Patricio,US,28.0170,-97.5169,89.49,58,10,7.05,clear sky
31,31,Butaritari,KI,3.0707,172.7902,80.98,80,26,14.25,light rain
33,33,Salalah,OM,17.0151,54.0924,77.09,100,100,10.36,light intensity drizzle
34,34,Hilo,US,19.7297,-155.0900,81.28,89,75,10.36,broken clouds

In [8]:
clean_df.count()

City_ID                265
City                   265
Country                265
Lat                    265
Lng                    265
Max Temp               265
Humidity               265
Cloudiness             265
Wind Speed             265
Current Description    265
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Victoria,HK,87.33,clear sky,22.2855,114.1577,
1,Podgornoye,RU,84.42,clear sky,51.7350,39.1496,
2,Kaeng Khoi,TH,82.98,heavy intensity rain,14.5862,100.9976,
7,Kure,JP,80.53,overcast clouds,34.2333,132.5667,
9,Daoukro,CI,75.02,moderate rain,7.0591,-3.9631,
19,Kapaa,US,76.98,broken clouds,22.0752,-159.3190,
24,San Patricio,US,89.49,clear sky,28.0170,-97.5169,
31,Butaritari,KI,80.98,light rain,3.0707,172.7902,
33,Salalah,OM,77.09,light intensity drizzle,17.0151,54.0924,
34,Hilo,US,81.28,broken clouds,19.7297,-155.0900,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Victoria,HK,87.33,clear sky,22.2855,114.1577,Mini Central
1,Podgornoye,RU,84.42,clear sky,51.7350,39.1496,"O 'Hara's Irish Pub, restaurant, hotel"
2,Kaeng Khoi,TH,82.98,heavy intensity rain,14.5862,100.9976,ปานปั้นเพลส / PaanPuanPlace
7,Kure,JP,80.53,overcast clouds,34.2333,132.5667,Clayton Bay Hotel
9,Daoukro,CI,75.02,moderate rain,7.0591,-3.9631,Komenan brou roseline
19,Kapaa,US,76.98,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,San Patricio,US,89.49,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
31,Butaritari,KI,80.98,light rain,3.0707,172.7902,Isles Sunset Lodge
33,Salalah,OM,77.09,light intensity drizzle,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
34,Hilo,US,81.28,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Victoria,HK,87.33,clear sky,22.2855,114.1577,Mini Central
1,Podgornoye,RU,84.42,clear sky,51.7350,39.1496,"O 'Hara's Irish Pub, restaurant, hotel"
2,Kaeng Khoi,TH,82.98,heavy intensity rain,14.5862,100.9976,ปานปั้นเพลส / PaanPuanPlace
7,Kure,JP,80.53,overcast clouds,34.2333,132.5667,Clayton Bay Hotel
9,Daoukro,CI,75.02,moderate rain,7.0591,-3.9631,Komenan brou roseline
19,Kapaa,US,76.98,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,San Patricio,US,89.49,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
31,Butaritari,KI,80.98,light rain,3.0707,172.7902,Isles Sunset Lodge
33,Salalah,OM,77.09,light intensity drizzle,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
34,Hilo,US,81.28,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [19]:
# 8a. Create the output File (CSV)
output_data_file=("weatherpy_vacation.csv")
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))